    <footer>
    <div class="footercont">
        <div class="footerblock">
            <p class="fname">Category</p>
            <p class="ftext">
                <ul class="fot">
                    <li>Home</li>
                    <li>about us</li>
                    <li>eshop</li>
                    <li>Features</li>
                    <li>new collections</li>
                    <li>blog</li>
                    <li>contact</li>
                </ul>
            </p>
        </div>
        <div class="footerblock">
            <p class="fname">Our accounts</p>
            <p class="ftext">
                <ul class="fot">
                    <li>Your Account</li>
                    <li>Personal information</li>
                    <li>Addresses</li>
                    <li>Discount</li>
                    <li>Orders history</li>
                    <li>Addresses</li>
                    <li>Search Terms</li>
                </ul>
            </p>
        </div>
        <div class="footerblock">
            <p class="fname">Our support</p>
            <p class="ftext">
                <ul class="fot">
                    <li>Site map</li>
                    <li>Search Terms</li>
                    <li>Advansed Search</li>
                    <li>Mobile</li>
                    <li>Contact Us</li>
                    <li>Mobile</li>
                    <li>Addresses</li>
                </ul>
            </p>
        </div>
        <div class="footerblock2">
            <p class="fname">Newsletter</p>
            <p class="ftext2">Join thousands of other people subscribe to our news</p>
            <div class="form">
                <form>
                    <input type="email" placeholder="insert email"><input type="submit" value="submit">
                </form>
            </div>
            <div class="pay">
                <img src="{{ domain }}images/aex.png" title="American Express"><img src="{{ domain }}images/mastercard.png" title="MasterCard"><img src="{{ domain }}images/maestro.png" title="Maestro"><img src="{{ domain }}images/paypal.png" title="PayPal"><img src="{{ domain }}images/discover.png" title="Discover"><img src="{{ domain }}images/visa.png" title="Visa">
            </div>
        </div>
        <div class="footerblock2">
            <p class="fname">About us</p>
            <p class="ftext3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
            <p class="ftext2">
                <table class="ph">
                    <tr>
                        <td>Phone: </td>
                        <td>1-999-342-9876</td>
                    </tr>
                    <tr>
                        <td>e-mail: </td>
                        <td><a href="mailto:info@surfhouse.com" target="_blank">info@surfhouse.com</a></td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
        
    <div class="copy">
        <div>
            <table class="copy">
                <tr>
                    <td class="left">&copy; 2014 SURFHOUSE. All rights reserved - Designed by theuncreativelab.com</td>
                    <td class="right"><a href="#" target="_blank"><img src="images/fb.png"></a><a href="#" target="_blank"><img src="images/tv.png"></a><a href="#" target="_blank"><img src="images/yt.png"></a><a href="#" target="_blank"><img src="images/pin.png"></a><a href="#" target="_blank"><img src="images/inst.png"></a></td>
                </tr>
            </table>
        </div>
    </div>
    </footer>