<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body>
    <!-- Шапка -->
  
    
    <header>

    <!-- Логотип и ссылки на социальные сети -->
    <div class="top">
        
        <div class="logo"><img src="{{ domain }}images/logo.png"></div>
        
        <div class="social">
        <a href="#" target="_blank"><img src="{{ domain }}images/fb.png"></a>
        <a href="#" target="_blank"><img src="{{ domain }}images/tv.png"></a>
        <a href="#" target="_blank"><img src="{{ domain }}images/yt.png"></a>
        <a href="#" target="_blank"><img src="{{ domain }}images/pin.png"></a>
        <a href="#" target="_blank"><img src="{{ domain }}images/inst.png"></a>
        </div>
    
    </div>
        
    <!-- Приветственный и рекламный блоки -->
    <div class="topmiddle">
        
        <div class="hello">
            <h2 class="hello">Welcome to<br>SurfHouse</h2>
            <p>The only online store you will ever need for all your windserfing and kite-surfing and SUP needs</p>
        </div>
        
        <div class="adv">
            <div>
                <h1 class="adv">JP FUNRIDE<br>2014</h1>
                <p class="adv">Super easy going freeride boards based on the X-Cite Ride chape concept with additional control and super easy jibing.</p>
            </div>
            <div class="buynow">
                <a href="#"><p><b>BUY NOW</b></p></a>
            </div>
        </div>
        
    </div>
        
    <div class="endblock">
    </div>
        
    </header>
