<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{{ domain }}css/style.css?v=4.6">
    <link rel="stylesheet" href="{{ domain }}css/galery.css?v=0.2">
    <link rel="stylesheet" href="{{ domain }}css/style_category.css?v=0.2">
    <link rel="stylesheet" href="{{ domain }}css/style_catalog.css?v=0.3">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{{ title }}</title>
	<script src="/js/ajax.js?v=3.86" type="text/javascript"></script>
        <!--Скрипт для AJAX -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <!-- Окончание скрипта AJAX -->
</head>
