        <div class="namecat"><h2 class="namecat">Sale products</h2></div>
        
        <!-- Продукция со скидкой -->
        <div class="tovar">
        {% for item in content_data.sale_product %}
            <div class="product">
                <a href="{{ domain }}good/{{ item.id_good }}/"><img src="{{ item.foto }}"></a>
                <table class="tov">
                    <tr>
                        <td class="naming">{{ item.name }}</td>
                        <td class="pricem">€ {{ item.price }}</td>
                    </tr>
                </table>
            </div>
		{% endfor %}
        </div>